@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.bar {
    z-index: $zIndexL4;
    box-sizing: border-box;
    width: 100%;
    height: $topBarHeight;
    line-height: $topBarHeight;
    font-size: rem(32);

    background: $topBarBg;
    border-bottom: 1px solid $borderDeepColor;
    z-index: $zIndexL3;

}

.back {
    position: absolute;
    left: 0;
    top: 0;
    width: rem(126);
    height: $topBarHeight;
    color: $titleColor;
    text-align: center;

    i {
        position: relative;
        top: rem(12);
        display: inline-block;
        height: rem(40);
        width: rem(40);
        margin-left: rem(12);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.title {
    color: $textColor;
    font-size: rem(34);
    text-align: center;
}

.btns {
    position: absolute;
    right: rem(50);
    top: 0;
    color: $titleColor;
}