@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.bar {
    position:relative;
    box-sizing: border-box;
    width: 100%;
    height: $topBarHeight;
    line-height: $topBarHeight;
    font-size: 16px;
    background: $topBarBg;
    border-bottom: 1px solid $borderDeepColor;
    z-index: $zIndexL4;
}

.back {
    position: absolute;
    left: 0;
    top: -1px;
    width: 63px;
    height: $topBarHeight;
    color: $titleColor;
    text-align: center;

    i {
        vertical-align: text-bottom;
        position: relative;
        top: 1px;
        left: -10px;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.title {
    color: $textColor;
    font-size: 17px;
    text-align: center;
}

.btns {
    position: absolute;
    right: 25px;
    top: 0;
    color: $titleColor;
}


