@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

.articleList {
    position:relative;
    display:inline-block;
    width: 100%;
    box-sizing: border-box;
    background: $gapBg;
}

