@charset "UTF-8";
@import url(../../../common/common.css);
.listWrap {
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch; }
  .listWrap .listItemWrap {
    width: 100%;
    padding-left: 0.74667rem; }
    .listWrap .listItemWrap:last-child .listItem {
      border: none; }
    .listWrap .listItemWrap .listItem {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      padding: 0.26667rem 0rem 0.26667rem 0;
      background: #fff;
      text-align: left;
      -webkit-overflow-scrolling: touch;
      border-bottom: 1px solid #f5f5f5; }
      .listWrap .listItemWrap .listItem .item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 0.53333rem 0;
        align-items: flex-start; }
        .listWrap .listItemWrap .listItem .item .avatar img {
          border-radius: 999px;
          width: 2.50667rem;
          height: 2.50667rem; }
        .listWrap .listItemWrap .listItem .item .info {
          font-size: 0.74667rem;
          line-height: 1.5em;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          padding-left: 0.66667rem;
          overflow: hidden; }
          .listWrap .listItemWrap .listItem .item .info h4 {
            padding-top: 0.16rem;
            color: #333;
            font-size: 0.85333rem;
            font-weight: normal; }
          .listWrap .listItemWrap .listItem .item .info p {
            font-size: 0.64rem;
            color: #999;
            padding-top: 0.16rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .listWrap .listItemWrap .listItem .item .followBtn button {
          width: 3.46667rem;
          height: 1.54667rem;
          line-height: 1.54667rem;
          font-size: 0.74667rem;
          color: #333;
          margin: 0.53333rem 0.74667rem 0 0;
          border: 1px solid #333;
          border-radius: 4px !important;
          background: #fff; }
          .listWrap .listItemWrap .listItem .item .followBtn button i {
            font-size: 0.53333rem;
            padding-right: 0.18667rem;
            font-weight: bold; }
          .listWrap .listItemWrap .listItem .item .followBtn button:after {
            content: '关注';
            border: none;
            border-color: #333; }

:global .recommendation-user-selected {
  background: #e7e7e7 !important;
  border-color: #e7e7e7 !important;
  color: #999 !important; }
  :global .recommendation-user-selected:after {
    content: '已关注' !important; }
  :global .recommendation-user-selected i {
    display: none !important; }

/*# sourceMappingURL=styles.css.map */
