@charset "UTF-8";
@import "../../common/__global.scss";
@import "../../common/__util.scss";

.listWrap {
    padding: rem(10) 0;
    color: $weakerTitleColor !important;

    i {
        padding-right: rem(26);
        font-size: 18px;
    }
}

.iconColored {
    color: $linkColor !important;
}

.weakText {
    color: $weakerTitleColor !important;
}

