@charset "UTF-8";
@import './_global';
@import './_util';

/**
 * 覆盖antd组件的默认样式
 */

:global {

    /** Tab组件 **/
    .am-tab {

        .am-tab-content {
            padding: 0 !important;
            //padding: 0 0 12px !important;
        }

        .am-tab-bar {
            margin-bottom: 0 !important;
        }

        .am-tab-nav-container {
            font-size: rem(32) !important;
        }

        //底部灰线
        &.am-tab-line .am-tab-bar:after {
            border-color: $tabBg !important;
        }

        //选中时文字色
        .am-tab-tab-active {
            .am-tab-tab-inner {
                color: $linkColor !important;
            }
        }

        //未选中时文字色
        .am-tab-tab-inner {
            padding: 18px 0 !important;
            color: $weakerTitleColor !important;
        }

        //选中时底线
        .am-tab-ink-bar {
            background-color: $linkColor !important;
        }

    }

    /** 胶囊tab **/
    .am-tab-capsule {

        .am-tab-nav-container {
            font-size: 14px !important;
        }

        .am-tab-bar {
            border-color: #424447 !important;
        }

        .am-tab-ink-bar {
            background-color: transparent !important;
        }

        .am-tab-nav {
            .am-tab-tab:not(:last-child) {
                border-right: 1px solid #424447 !important;
            }
        }

        .am-tab-tab-active {
            .am-tab-tab-inner {
                background-color: #424447 !important;
                color: #fff !important;
            }
        }

        .am-tab-tab-inner {
            padding: 8px 0 !important;
            color: #424447 !important;
        }
    }

    /** Button **/
    .am-button {
        &.am-button-primary {
            background: $linkColor !important;

            &:after {
                border-color: transparent !important;
            }
        }

        border-top-left-radius: 30px !important;
        border-top-right-radius: 30px !important;
        border-bottom-left-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
    }

    /** List **/
    .am-list {
        margin: rem(20) 0 !important;
        padding: 0 !important;

        .am-list-body {
            &:before {
                border-top-color: $borderDeepColor !important;
            }
        }

        .am-list-item {
            &:last-child {
                &:after {
                    border-bottom-color: $borderDeepColor !important;
                }
            }

            .am-list-line {
                padding: 7px 16px 7px 0 !important;

                .am-list-arrow-horizontal:before {
                    margin-top: 3px !important;
                }

                .am-list-arrow {
                    margin-left: 14px !important;
                }

                .am-list-extra {
                    margin-top: 1px !important;
                }

                .am-list-content {
                    font-size: rem(32) !important;
                }

            }
        }

    }

    /** NoticeBar **/
    .am-top-notice {
        background-color: #f0fafb !important;
        color: #3a3a3a !important;
    }

    /** action-sheet **/
    .am-action-sheet {
        .am-action-sheet-title {
            margin: 12px auto 6px !important;
        }
        .am-action-sheet-message {
            margin: 6px auto 12px !important;
        }
    }

    /** Result **/
    .am-page-result {
        padding-top: 0 !important;

        .am-page-result-pic {
            min-width: 320px !important;
            height: 240px !important;
            margin: 0 auto !important;
            background-size: 100% 100% !important;
            background-repeat: no-repeat !important;
        }

        .am-page-result-title {
            font-size: 14px !important;
            font-weight: 100 !important;
            margin-top: 15px !important;
        }
    }

    /** Switch **/
    .am-switch {
        input[type="checkbox"]:checked + .checkbox {
            background-color: #000 !important;
        }
    }
    
    /** list-item **/
    .am-input-label-4 {
        width: auto !important;
    }
    .am-input-control {
        input {
            text-align: right;
        }
    }
}

