@charset "UTF-8";
/**
 * 覆盖antd组件的默认样式
 */
:global {
  /** Tab组件 **/
  /** 胶囊tab **/
  /** Button **/
  /** List **/
  /** NoticeBar **/
  /** action-sheet **/
  /** Result **/
  /** Switch **/
  /** Modal **/
  /** Toast **/ }
  :global .am-tab .am-tab-content {
    padding: 0 !important; }
  :global .am-tab .am-tab-bar {
    margin-bottom: 0 !important; }
  :global .am-tab .am-tab-nav-container {
    font-size: 0.85333rem !important; }
  :global .am-tab.am-tab-line .am-tab-bar:after {
    border-color: #f3f5f4 !important; }
  :global .am-tab .am-tab-tab-active .am-tab-tab-inner {
    color: #39bcc8 !important; }
  :global .am-tab .am-tab-tab-inner {
    padding: 18px 0 !important;
    color: #a09e98 !important; }
  :global .am-tab .am-tab-ink-bar {
    background-color: #39bcc8 !important; }
  :global .am-tab-capsule .am-tab-nav-container {
    font-size: 14px !important; }
  :global .am-tab-capsule .am-tab-bar {
    border-color: #424447 !important; }
  :global .am-tab-capsule .am-tab-ink-bar {
    background-color: transparent !important; }
  :global .am-tab-capsule .am-tab-nav .am-tab-tab:not(:last-child) {
    border-right: 1px solid #424447 !important; }
  :global .am-tab-capsule .am-tab-tab-active .am-tab-tab-inner {
    background-color: #424447 !important;
    color: #fff !important; }
  :global .am-tab-capsule .am-tab-tab-inner {
    padding: 7px 0 8px !important;
    color: #424447 !important; }
  :global .am-button {
    background: #eee !important;
    color: #b8b8b8 !important;
    font-size: 18px;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important; }
    :global .am-button:after {
      border-color: transparent !important; }
    :global .am-button.am-button-primary {
      background: #39bcc8 !important;
      color: #fff !important; }
      :global .am-button.am-button-primary:after {
        border-color: transparent !important; }
      :global .am-button.am-button-primary:active {
        background: white !important; }
    :global .am-button.am-button-ghost {
      color: #39bcc8 !important;
      border: 1px solid #39bcc8 !important;
      background-color: transparent !important; }
  :global .am-list {
    margin: 0.53333rem 0 !important;
    padding: 0 !important; }
    :global .am-list .am-list-body:before {
      border-top-color: #d9d9d9 !important; }
    :global .am-list .am-list-item:last-child:after {
      border-bottom-color: #d9d9d9 !important; }
    :global .am-list .am-list-item .am-list-line {
      padding: 7px 16px 7px 0 !important; }
      :global .am-list .am-list-item .am-list-line .am-list-arrow-horizontal:before {
        margin-top: 3px !important; }
      :global .am-list .am-list-item .am-list-line .am-list-arrow {
        margin-left: 14px !important; }
      :global .am-list .am-list-item .am-list-line .am-list-extra {
        margin-top: 1px !important; }
      :global .am-list .am-list-item .am-list-line .am-list-content {
        font-size: 0.85333rem !important; }
  :global .am-top-notice {
    background-color: #effbfa !important;
    color: #3a3a3b !important;
    border-bottom: 1px solid #f5f5f5 !important;
    font-size: 14px !important; }
    :global .am-top-notice .am-top-notice-content {
      margin-left: 14px !important;
      margin-right: 14px !important; }
  :global .am-action-sheet .am-action-sheet-title {
    margin: 12px auto 6px !important; }
  :global .am-action-sheet .am-action-sheet-message {
    margin: 6px auto 12px !important; }
  :global .am-page-result {
    padding-top: 0 !important;
    padding-bottom: 20px !important; }
    :global .am-page-result .am-page-result-pic {
      min-width: 320px !important;
      height: 240px !important;
      margin: 0 auto !important;
      background-size: 100% 100% !important;
      background-repeat: no-repeat !important; }
    :global .am-page-result .am-page-result-title {
      font-size: 14px !important;
      font-weight: 100 !important;
      margin-top: 15px !important; }
  :global .am-switch input[type="checkbox"]:checked + .checkbox {
    background-color: #000 !important; }
  :global .am-modal .am-modal-button-group-h .am-modal-button {
    color: #39bcc8 !important; }
  :global .am-toast {
    z-index: 1999; }

/*# sourceMappingURL=antd_cover.css.map */
