@charset "UTF-8";

@import "./_global";
@import "./_util";

//全局通用样式
:global {
    a {
        display:inline-block;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .clearfix {
        display: inline-block;
    }
    * html .clearfix {
        height: 1%
    }
    .clearfix {
        display: block
    }
    .fixedTop, .fixedBottom {
        position: fixed !important;
        top: 0;
        z-index: $zIndexL3;
        width: 100%;
        box-sizing: border-box;
    }
    .fixedBottom {
        bottom: 0;
    }
    .vm {
        vertical-align: middle;
    }
    .pr {
        position: relative;
    }
    .pa {
        position: absolute;
    }
    .abs-right {
        position: absolute;
        right: 0;
    }
    .zoom {
        zoom: 1;
    }

    .hidden {
        visibility: hidden;
    }
    .none, .hide {
        display: none !important;
    }

    .transparent {
        opacity: 0 !important;
    }

    .blockGap {
        margin-bottom: rem(20);
    }

    .blockGapTag {
        height: rem(20);
        margin: 0;
        padding: 0;
        background: $gapBg;
    }

    .hover {
        background: $tabBg !important;
    }

    .deepBg {
        background: $gapBg;
    }

    /* 间隔 */
    .gapLine {
        display:inline-block;
        height: rem(20);
        background: $gapBg;
    }



    /*文字排版*/
    .f12 {
        font-size: rem(12);
    }
    .f13 {
        font-size: rem(13);
    }
    .f14 {
        font-size: rem(14);
    }
    .f16 {
        font-size: rem(16);
    }
    .f20 {
        font-size: rem(20);
    }
    .fb {
        font-weight: bold;
    }
    .fn {
        font-weight: normal;
    }
    .t2 {
        text-indent: 2em;
    }
    .lh150 {
        line-height: 150%;
    }
    .lh180 {
        line-height: 180%;
    }
    .unl {
        text-decoration: underline;
    }
    .no_unl {
        text-decoration: none;
    }

    /*定位*/
    .tl {
        text-align: left;
    }
    .tc {
        text-align: center;
    }
    .tr {
        text-align: right;
    }
    .bc {
        margin-left: auto;
        margin-right: auto;
    }
    .fl {
        float: left;
        display: inline;
    }
    .fr {
        float: right;
        display: inline;
    }
    .cb {
        clear: both;
    }
    .cl {
        clear: left;
    }
    .cr {
        clear: right;
    }

    /*长度高度*/
    .w10 {
        width: rem(10);
    }
    .w20 {
        width: rem(20);
    }
    .w30 {
        width: rem(30);
    }
    .w40 {
        width: rem(40);
    }
    .w50 {
        width: rem(50);
    }
    .w {
        width: 100%;
    }
    .h {
        height: 100%;
    }

    /*边距*/
    .m10 {
        margin: rem(10);
    }
    .m15 {
        margin: rem(15);
    }
    .mt5 {
        margin-top: rem(5);
    }
    .mt10 {
        margin-top: rem(10);
    }
    .mb10 {
        margin-bottom: rem(10);
    }
    .mb15 {
        margin-bottom: rem(15);
    }
    .ml5 {
        margin-left: rem(5);
    }
    .ml10 {
        margin-left: rem(10);
    }
    .ml15 {
        margin-left: rem(15);
    }
    .mr5 {
        margin-right: rem(5);
    }
    .mr10 {
        margin-right: rem(10);
    }
    .mr15 {
        margin-right: rem(15);
    }
    .p10 {
        padding: rem(10);
    }
    .p15 {
        padding: rem(15);
    }
    .p20 {
        padding: rem(20);
    }
    .pt5 {
        padding-top: rem(5);
    }
    .pt10 {
        padding-top: rem(10);
    }
    .pt15 {
        padding-top: rem(15);
    }
    .pb5 {
        padding-bottom: rem(5);
    }
    .pb10 {
        padding-bottom: rem(10);
    }
    .pb15 {
        padding-bottom: rem(15);
    }
    .pl5 {
        padding-left: rem(5);
    }
    .pl10 {
        padding-left: rem(10);
    }
    .pl15 {
        padding-left: rem(15);
    }
    .pr5 {
        padding-right: rem(5);
    }
    .pr10 {
        padding-right: rem(10);
    }


}
