@charset "UTF-8";
:global {
  /*文字排版*/
  /*定位*/
  /*长度高度*/
  /*边距*/ }
  :global .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  :global .clearfix {
    display: inline-block; }
  :global * html .clearfix {
    height: 1%; }
  :global .clearfix {
    display: block; }
  :global .vm {
    vertical-align: middle; }
  :global .pr {
    position: relative; }
  :global .pa {
    position: absolute; }
  :global .abs-right {
    position: absolute;
    right: 0; }
  :global .zoom {
    zoom: 1; }
  :global .hidden {
    visibility: hidden; }
  :global .none {
    display: none; }
  :global .f12 {
    font-size: 12px; }
  :global .f13 {
    font-size: 13px; }
  :global .f14 {
    font-size: 14px; }
  :global .f16 {
    font-size: 16px; }
  :global .f20 {
    font-size: 20px; }
  :global .fb {
    font-weight: bold; }
  :global .fn {
    font-weight: normal; }
  :global .t2 {
    text-indent: 2em; }
  :global .lh150 {
    line-height: 150%; }
  :global .lh180 {
    line-height: 180%; }
  :global .unl {
    text-decoration: underline; }
  :global .no_unl {
    text-decoration: none; }
  :global .tl {
    text-align: left; }
  :global .tc {
    text-align: center; }
  :global .tr {
    text-align: right; }
  :global .bc {
    margin-left: auto;
    margin-right: auto; }
  :global .fl {
    float: left;
    display: inline; }
  :global .fr {
    float: right;
    display: inline; }
  :global .cb {
    clear: both; }
  :global .cl {
    clear: left; }
  :global .cr {
    clear: right; }
  :global .w10 {
    width: 10px; }
  :global .w20 {
    width: 20px; }
  :global .w30 {
    width: 30px; }
  :global .w40 {
    width: 40px; }
  :global .w50 {
    width: 50px; }
  :global .w {
    width: 100%; }
  :global .h {
    height: 100%; }
  :global .m10 {
    margin: 10px; }
  :global .m15 {
    margin: 15px; }
  :global .mt5 {
    margin-top: 5px; }
  :global .mt10 {
    margin-top: 10px; }
  :global .mb10 {
    margin-bottom: 10px; }
  :global .mb15 {
    margin-bottom: 15px; }
  :global .ml5 {
    margin-left: 5px; }
  :global .ml10 {
    margin-left: 10px; }
  :global .ml15 {
    margin-left: 15px; }
  :global .mr5 {
    margin-right: 5px; }
  :global .mr10 {
    margin-right: 10px; }
  :global .mr15 {
    margin-right: 15px; }
  :global .p10 {
    padding: 10px; }
  :global .p15 {
    padding: 15px; }
  :global .p20 {
    padding: 20px; }
  :global .pt5 {
    padding-top: 5px; }
  :global .pt10 {
    padding-top: 10px; }
  :global .pt15 {
    padding-top: 15px; }
  :global .pb5 {
    padding-bottom: 5px; }
  :global .pb10 {
    padding-bottom: 10px; }
  :global .pb15 {
    padding-bottom: 15px; }
  :global .pl5 {
    padding-left: 5px; }
  :global .pl10 {
    padding-left: 10px; }
  :global .pl15 {
    padding-left: 15px; }
  :global .pr5 {
    padding-right: 5px; }
  :global .pr10 {
    padding-right: 10px; }

:global {
  /*边框*/
  /*四边*/ }
  :global .flip-right2left .flip-enter,
  :global .flip-right2left-reverse .flip-leave.flip-leave-active {
    transform: translate3d(100%, 0, 0);
    transition: all .35s ease; }
  :global .flip-right2left .flip-enter.flip-enter-active,
  :global .flip-right2left-reverse .flip-leave {
    transform: translate3d(0, 0, 0); }
  :global .flip-right2left .flip-leave,
  :global .flip-right2left-reverse .flip-enter.flip-enter-active {
    transform: translate3d(0, 0, 0);
    transition: all .35s ease; }
  :global .flip-right2left .flip-leave.flip-leave-active,
  :global .flip-right2left-reverse .flip-enter {
    transform: translate3d(-100%, 0, 0); }
  :global .flip-right2left .flip-enter,
  :global .flip-right2left-reverse .flip-enter {
    z-index: 9999; }
  :global .flip-right2left .flip-leave,
  :global .flip-right2left-reverse .flip-leave {
    z-index: 999; }
  :global .r1bt, :global .r1bb, :global .r1bl, :global .r1br, :global .r1b {
    position: relative; }
  :global .r1bt:before, :global .r1bb:after {
    pointer-events: none;
    position: absolute;
    content: "";
    height: 1px;
    background: rgba(32, 35, 37, 0.15);
    left: 0;
    right: 0; }
  :global .r1bt:before {
    top: 0; }
  :global .r1bb:after {
    bottom: 0; }
  :global .r1bl:before, :global .r1br:after {
    pointer-events: none;
    position: absolute;
    content: "";
    width: 1px;
    background: rgba(32, 35, 37, 0.15);
    top: 0;
    bottom: 0; }
  :global .r1bl:before {
    left: 0; }
  :global .r1br:after {
    right: 0; }
  :global .r1b:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(32, 35, 37, 0.15);
    pointer-events: none; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    :global .r1bt:before, :global .r1bb:after {
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5); }
    :global .r1bl:before, :global .r1br:after {
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5); }
    :global .r1b:after {
      width: 200%;
      height: 200%;
      -webkit-transform: scale(0.5);
      transform: scale(0.5); }
    :global .r1bt:before, :global .r1bl:before, :global .r1b:after {
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0; }
    :global .r1bb:after, :global .r1br:after {
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%; } }
  @media (-webkit-device-pixel-ratio: 1.5) {
    :global .r1bt:before, :global .r1bb:after {
      -webkit-transform: scaleY(0.6666);
      transform: scaleY(0.6666); }
    :global .r1bl:before, :global .r1br:after {
      -webkit-transform: scaleX(0.6666);
      transform: scaleX(0.6666); }
    :global .r1b:after {
      width: 150%;
      height: 150%;
      -webkit-transform: scale(0.6666);
      transform: scale(0.6666); } }
  @media (-webkit-device-pixel-ratio: 3) {
    :global .r1bt:before, :global .r1bb:after {
      -webkit-transform: scaleY(0.3333);
      transform: scaleY(0.3333); }
    :global .r1bl:before, :global .r1br:after {
      -webkit-transform: scaleX(0.3333);
      transform: scaleX(0.3333); }
    :global .r1b:after {
      width: 300%;
      height: 300%;
      -webkit-transform: scale(0.3333);
      transform: scale(0.3333); } }
@-webkit-keyframes scaleUp {
  from {
    opacity: 1;
    -webkit-transform: scale(1.1); } }
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

/*# sourceMappingURL=common.css.map */
