ul.myUL {
    font-size: 14px;
    width:100%;
    background-color: lightgreen;

    li {
        padding:5px;
        border-bottom:1px solid lightyellow;
        background-color: lightblue;
    }

}

