@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";


.listWrap {
    width: 100%;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

    .item {
        @include flexBox();
        padding: rem(50) rem(35) rem(50) 0;
        margin: 0 0 0 rem(35);
        border-bottom: 1px solid $borderLightColor;

        .avatar {
            width: rem(100);
            height: rem(100);

            img {
                width: rem(100);
                height: rem(100);
            }
        }

        .info {
            font-size: 14px;
            line-height: 1.5em;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            padding-left: rem(25);
        }

        .followed {
            width: rem(126);
            height: rem(72);
            background: url(https://o82zr1kfu.qnssl.com/@/image/57c5375ae4b0ddd2e19dbfce.png) left top no-repeat;
            background-size: rem(262) rem(72);
        }

        .noFollowed {
            width: rem(126);
            height: rem(72);
            background: url(https://o82zr1kfu.qnssl.com/@/image/57c5375ae4b0ddd2e19dbfce.png) right top no-repeat;
            background-size: rem(262) rem(72);
        }
    }
}

