@charset "UTF-8";
@import "../../../common/__global.scss";
@import "../../../common/__util.scss";

.wrap {
    position: relative;
    height: 98%;
    margin: 0 rem(10) 10px;
    border: 1px solid $borderColor;
    border-width: 0 1px;
    background: #fff;

    .projectInfo {
        padding: 14px 0;
        margin: 0 14px;
        border-bottom: 1px dashed $borderColor;

        h4 {
            font-size: 17px;
            padding-bottom: 10px;
            font-weight: 300;
        }

        span {
            font-size: 16px;
            color: #50c6cf;
        }
    }

    .copyrights {
        padding: 14px 14px 10px;

        .purview {
            clear:both;
            padding: 0 0 0 rem(5);
            font-size: 14px;
            @include flexBox();
            -ms-flex-align: stretch;
            align-items: stretch;
            -ms-flex-pack: center;
            justify-content: flex-start;

            .iconAuthorizationCfg {
                background-position: left center;
                background-repeat:no-repeat;
                display: inline-block;
                padding-left: rem(54);
                height: rem(44);
                line-height: rem(44);
                vertical-align: middle;
                background-size: rem(44) rem(44);
                margin-right: rem(13);
            }

            ul {
                -webkit-box-flex: 1;
                flex: 1;
                text-align: right;

                li {
                    display: inline-block;
                    background: $weakLinkBg;
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    color: $weakLinkColor;
                    padding: 0 10px;
                    margin:0 0 5px 8px;
                    border-radius: 10px;
                }
            }
        }

    }

    .leavewordsWrap {
        border-top: 1px solid $borderColor;
        padding: 18px rem(28);

        textarea.leavewords {
            width: 100%;
            min-height: 15em;
            border: none;
            font-size: 18px;
            color: $deepTextColor;

            &::-webkit-input-placeholder {
                color: #999;
            }
        }
    }
}

.bottomLine {
    margin: -10px 0.26667rem 0;
    height: 3px;
    box-sizing: border-box;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBJREFUeNpiOHDg1M9///79xwZ+/fr9n4mBgWHuoUNn/gIVMSCDz5+/Mhw7dv41SEENEE+8c+cRw5cv3xiAGhnevv3A8ODBU5C6MkagFTBNaUCcA8RaQAwSbALiHQABBgBwd0DS4oslsQAAAABJRU5ErkJggg==) left bottom repeat-x #fff;
    background-size: 6px 3px;
    border-right: 1px solid $borderColor;
}


