@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

.tagDesc {
    position:relative;
    background-color: $bg;
    width: 100%;
    padding: rem(30) rem(45);
    overflow: hidden;
    color: $titleColor;
    font-size: 14px;
    line-height: rem(40);
    margin-bottom: rem(20);

    textarea {
        width: 100%;
        height: rem(150);
        padding: rem(8);
        border: 1px dashed $borderDeepColor;
    }

}


