@charset 'UTF-8';
@import '../../../common/__global.scss';
@import '../../../common/__util.scss';

.projectTag{
	position: relative;
	display: inline-block;
	width: 100%;
    min-height: rem(100);
	background: $bg;
	margin-top: rem(28);
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: rem(28);
	.title{
		display: block;
		font-size: rem(34);
		color: #000;
	}
	ul{
		overflow: hidden;
		margin: rem(20) 0 0 0;
		li{
			float: left;
			font-size: rem(26);
			color: $linkColor;
			background-color: $bg;
			padding: rem(8) rem(16);
            border-radius: rem(8);
			border: 1px solid $linkColor;
			margin: rem(18) rem(28) 0 0;
            a {
                color: $linkColor;
            }
		}
	}
	.readImg{
		position: absolute;
		float: right;
		width: rem(140);
		height: rem(140);
		right: rem(38);
		top: rem(100);
        border-radius: 999px;
	}
}
