@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";

.articleListItem {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 34px 22px 38px;
    background: #fff;
    margin-bottom: 11px;
    text-align: left;

    &:last-child {
        margin-bottom: 0;
    }

    span.source {
        font-size: 14px;
        color: $weakerTitleColor;
        display: inline-block;
        margin-bottom: 1px;

        strong {
            font-style: italic;
            font-weight: normal;
            color: $linkColor;
        }
    }

    .read {
        color: $weakerTitleColor;
        margin-bottom: 9px;
    }


    h3 {
        max-height: 56px;
        font-size: 22px;
        font-weight: normal;
        line-height: 28px;
        overflow:hidden;
        text-overflow: ellipsis;
        color: $titleColor;
        @include flexBox();
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    p {
        font-size: 16px;
        color: $textColor;
        margin-top: 16px;
        line-height: 1.4em;
        max-height: 68px;
        text-align:left;
        overflow:hidden;
    }

    div.info {
        margin-top: 23px;
        color: $weakTextColor;
        font-size: 14px;

        span {
            margin-right: 10px;

            .heart{
                position: relative;
                top: 3px;
                display: inline-block;
                height: 16px;
                width: 16px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .heartNum{
                font-size: 12px;
            }
        }

    }

    div.itemType {
        position: absolute;
        top: 13px;
        right: 0;
        width: 67px;
        height: 19px;
        line-height: 19px;
        color: $weakTextColor;
        background: #f3f5f4;
    }
}

