@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

:global {
    .foundPageMainContent {
        .am-tab {
            overflow: visible; //for position:sticky
        }

        .am-tab-bar {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 9980;
        }

        .am-tab-tab-inner {
            color: $linkColor !important;
            padding: rem(25) 0;
        }

        .am-tab-nav-container {
            background-color: $tabBg;
            font-size: rem(32);
            color: $titleColor;

            height: rem(128);
            padding: 0 0 0 rem(52);
        }

        .am-tab.am-tab-line .am-tab-bar:after {
            border: none;
        }

        .am-tab-nav {
            display: inline-block;
            margin-top: rem(16);
        }

        .am-tab-ink-bar {
            width: rem(64) !important;
            background-color: $linkColor !important;
        }

    }
}

