@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.noteItem {

    &:first-child {
        margin-top: rem(10);
    }

    position: relative;
    display: block;
    width: rem(667);
    height: rem(110);
    margin: 0 auto;
    overflow: hidden;
    line-height: rem(107);
    border-bottom: 1px solid $deepBg;

    .content {
        font-size: rem(32);
        color: $titleColor;
        float:left;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .right {
        position: absolute;
        right: 0;
        width: rem(200);
        text-align:right;

        .time {
            color: $weakTextColor;
            font-size: rem(24);
        }

        i {
            padding-left: rem(20);
            display: inline-block;
            height: rem(32);
            width: rem(32);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }



}
