@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.listWrap {
    width: 100%;
    box-sizing: border-box;
    //overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .listItem {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: rem(20) rem(20) rem(20) rem(42);
        background: #fff;
        text-align: left;
        -webkit-overflow-scrolling: touch;
        border-bottom: 1px solid $borderLightColor;
        overflow: hidden;
        text-overflow: ellipsis;

        .basis {
            @include flexBox();
            padding: rem(20) 0;
            align-items: flex-start;

            .avatar {
                img {
                    border-radius: 3px;
                    width: rem(100);
                    height: rem(100);
                }
            }

            .info {
                font-size: 14px;
                line-height: 1.5em;
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                padding-left: rem(25);
                overflow: hidden;

                h4 {
                    color: $titleColor;
                    font-size: 16px;
                }

                .time {
                    font-size: 13px;
                    color: $weakerTitleColor;
                    margin: rem(15) rem(20) 0 0;
                }

            }

        }

        .content {
            font-size: 15px;
            color: $textColor;
            line-height: 1.4em;
            word-wrap: break-word;
            word-break: break-all;
        }

    }
}

