@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";



.noContent {
    text-align: center;
    padding: 50px;
    color: $weakTextColor;
    font-size: 14px;
}

