@charset 'UTF-8';
@import '../../../common/__util.scss';
@import '../../../common/__global.scss';

.prodectIntro{
	width: 100%;
	display: inline-block;
	font-size: rem(34);
	color: $textColor;
	line-height: rem(50);
	white-space: pre-wrap;
	padding: 0 rem(28) rem(28);
	color: #666;
	font-size: rem(30);
	background: $bg;
	border-bottom: 1px solid #ededed;
	.title{
		display: block;
		color: #000;
		font-size: rem(34);
		margin-bottom: rem(20);
	}
}