@charset 'UTF-8';
@import '../../../common/__util.scss';
@import '../../../common/__global.scss';

.prodectIntro{
	margin: rem(34) rem(48) rem(76);
	font-size: rem(34);
	color: $textColor;
	line-height: rem(50);
	white-space: pre-wrap;
}