@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";

.nav {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: rem(88);
    font-size: 14px;
    background: $tabBg;
    border-top:1px solid $navBorderColor;
}