@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

.wrap {
    background: $gapBg;

    .loadingBar {
        width: 100%;
        background: $gapBg;
        padding: 15px 0;
        color: #666;
        font-size: 12px;
        text-align: center;

        .noMore {
            color: #aaa;
        }
    }

    .loading {
        margin-right: 10px;
        margin-top: -3px;
    }
}

