@charset 'UTF-8';
@import '../../../common/__global.scss';
@import '../../../common/__util.scss';
@import "../../../common/common.css";

$loadingHeight: 100px;

.chpWrap {
    //margin-bottom: -$loadingHeight; /**/
}

.chpCon {
    position: relative;
    float:left; /**/
    width: 100%;
    //min-height: 100%;
    -webkit-overflow-scrolling: touch;

    .loading {
        margin-right: rem(20);
        margin-top: rem(-5);
    }

    .toPreviourPageNoticeWrap {
        width: 100%;
        height: $loadingHeight;
        background: #efefef;
        color: #666;
        font-size: 14px;
        text-align: center;
        position: absolute;
        top: -$loadingHeight;

        .toPreviourPageNotice {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
        }
    }

    .toNextPageNotice {
        position: absolute;
        bottom: -$loadingHeight;
        width: 100%;
        height: $loadingHeight;
        line-height: $loadingHeight;
        background: #efefef;
        color: #666;
        font-size: 14px;
        text-align: center;
        //transform: translateY(75px);
    }

    .bottomBtn {
        width: 100%;
        padding: 40px 23px 80px;
        font-size: 16px;
        text-align:center;

        .nextChapterBtn {
            width:100%;
            height: 40px;
            line-height: 37px;
            color: #666;
            text-align:center;
            border: 1px solid #999;
            border-radius: 3px;
            background: #efefef;
        }

        .lastChapterNotice {
            width:100%;
            height: 40px;
            line-height: 37px;
            color: #aaa;
            border: 1px solid #efefef;
            border-radius: 3px;
            background: #efefef;
        }
    }


    .authorMes {
        width: 100%;
        height: $topBarHeight;
        border-bottom: 1px solid $navBorderColor;
        line-height: $topBarHeight;
        img {
            display: inline-block;
            vertical-align: middle;
            width: rem(70);
            height: rem(70);
            border-radius: rem(70);
            margin-left: rem(44);
        }

        .left {
            position: relative;
            left: rem(15);
        }
        .right {
            float: right;
            margin-right: rem(44);
        }
    }
    .contentWrap {
        margin: 20px 23px 16px;

        .contentMes {
            margin: 32px auto 0;
            max-width: 600px;
            overflow: hidden;
            font-size: 17px;
            line-height: 1.764em;
            color: #383b3d;

            p {
                word-break: break-all;
            }

            section {
                color: #383b3d;
                font-size: 17px;
            }

            img {
                width: 100% !important;
            }
        }

        .contentTitle {
            max-width: 600px;
            margin: 0 auto;
            overflow: hidden;
            font-size: 21px;
            line-height: 30px;
            text-align: left;
            color: $titleColor;
        }
    }
}


.topbar {
    position: fixed;
    top: 0;
    overflow:hidden;
    height: $topBarHeight;
    width: 100%;
    z-index: $zIndexL4;
}

.chapterTitle {
    color: $linkColor;
    span {
        display: inline-block;
        max-width: 60%;
        margin: 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    i {
        position: absolute;
        top: 17px;
        display: inline-block;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 2px;
        vertical-align: middle;
    }
}

.rightStar {
    position: absolute;
    right: 22px;
    top: 0;
    i {
        position: relative;
        top: 3px;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.bottomBar {
    width: 100%;
    z-index: $zIndexL4;
    background-color: $topBarBg;
    height: $topBarHeight;
    border-top: 1px solid $borderColor;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    transform: translate3d(0, $topBarHeight, 0);
    -webkit-transform: translate3d(0, $topBarHeight, 0);

    ul {
        float: right;
        margin-right: 22px;
        height: 100%;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        li {
            float: left;
            margin-left: 30px;
            i {
                display: inline-block;
                width: 22px;
                height: 22px;
                vertical-align: middle;

                &.i1 {
                    background: url("https://o82zr1kfu.qnssl.com/@/image/57c640a2e4b073472e793137.png") no-repeat;
                    background-size: cover;
                    vertical-align: middle;
                }
                // &.i2{
                // 	background: url("https://o82zr1kfu.qnssl.com/@/image/57c6400be4b073472e79312f.png") no-repeat;
                // 	//https://o82zr1kfu.qnssl.com/@/image/57c64c9fe4b073472e7954e7.png
                // 	background-size: cover;
                // }
                &.i3 {
                    background: url("https://o82zr1kfu.qnssl.com/@/image/57c6408ee4b073472e793135.png") no-repeat;
                    background-size: cover;
                    vertical-align: middle;
                }
                img {
                    width: 100%;
                }
            }
            span {
                display: inline-block;
                position: relative;
                top: -1px;
                left: 5px;
                color: $textColor;
            }
        }
    }
}