@import url(../../../common/common.css);
.chpCon {
  position: relative;
  float: left;
  /**/
  width: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch; }
  .chpCon .bottomBtn {
    width: 100%;
    padding: 40px 23px 80px;
    font-size: 16px;
    text-align: center; }
    .chpCon .bottomBtn .nextChapterBtn {
      width: 100%;
      height: 40px;
      line-height: 37px;
      color: #666;
      text-align: center;
      border: 1px solid #999;
      border-radius: 3px;
      background: #efefef; }
    .chpCon .bottomBtn .lastChapterNotice {
      width: 100%;
      height: 40px;
      line-height: 37px;
      color: #aaa;
      border: 1px solid #efefef;
      border-radius: 3px;
      background: #efefef; }
  .chpCon .authorMes {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #f3f5f4;
    line-height: 50px; }
    .chpCon .authorMes img {
      display: inline-block;
      vertical-align: middle;
      width: 1.86667rem;
      height: 1.86667rem;
      border-radius: 1.86667rem;
      margin-left: 1.17333rem; }
    .chpCon .authorMes .left {
      position: relative;
      left: 0.4rem; }
    .chpCon .authorMes .right {
      float: right;
      margin-right: 1.17333rem; }
  .chpCon .contentWrap {
    margin: 20px 23px 16px; }
    .chpCon .contentWrap .contentMes {
      margin: 32px auto 0;
      max-width: 600px;
      overflow: hidden;
      font-size: 17px;
      line-height: 1.764em;
      color: #383b3d; }
      .chpCon .contentWrap .contentMes p {
        word-break: break-all; }
      .chpCon .contentWrap .contentMes section {
        color: #383b3d;
        font-size: 17px; }
      .chpCon .contentWrap .contentMes img {
        width: 100% !important; }
    .chpCon .contentWrap .contentTitle {
      max-width: 600px;
      margin: 0 auto;
      overflow: hidden;
      font-size: 21px;
      line-height: 30px;
      text-align: left;
      color: #7b8f9d; }

.topbar {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
  z-index: 999; }

.chapterTitle {
  display: inline-block;
  width: 60%;
  color: #39bcc8; }
  .chapterTitle span {
    display: inline-block;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .chapterTitle i {
    position: absolute;
    top: 17px;
    display: inline-block;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2px;
    vertical-align: middle; }

.rightStar {
  position: absolute;
  right: 22px;
  top: 0; }
  .rightStar i {
    position: relative;
    top: 3px;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: cover; }

.bottomBar {
  width: 100%;
  z-index: 999;
  background-color: #fff;
  height: 50px;
  border-top: 1px solid #dbd7d7;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0); }
  .bottomBar ul {
    float: right;
    margin-right: 22px;
    height: 100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .bottomBar ul li {
      float: left;
      margin-left: 30px; }
      .bottomBar ul li i {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: middle; }
        .bottomBar ul li i.i1 {
          background: url("https://o82zr1kfu.qnssl.com/@/image/57c640a2e4b073472e793137.png") no-repeat;
          background-size: cover;
          vertical-align: middle; }
        .bottomBar ul li i.i3 {
          background: url("https://o82zr1kfu.qnssl.com/@/image/57c6408ee4b073472e793135.png") no-repeat;
          background-size: cover;
          vertical-align: middle; }
        .bottomBar ul li i img {
          width: 100%; }
      .bottomBar ul li span {
        display: inline-block;
        position: relative;
        top: -1px;
        left: 5px;
        color: #383b3d; }

/*# sourceMappingURL=style.css.map */
