@import url(../../../common/common.css);
.chpCon {
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .chpCon .authorMes {
    width: 100%;
    height: 2.82667rem;
    border-bottom: 1px solid #f3f5f4;
    line-height: 2.82667rem; }
    .chpCon .authorMes img {
      display: inline-block;
      vertical-align: middle;
      width: 1.86667rem;
      height: 1.86667rem;
      border-radius: 1.86667rem;
      margin-left: 1.17333rem; }
    .chpCon .authorMes .left {
      position: relative;
      left: 0.4rem; }
    .chpCon .authorMes .right {
      float: right;
      margin-right: 1.17333rem; }
  .chpCon .contentWrap {
    margin: 0 23px 16px; }
    .chpCon .contentWrap .contentMes {
      margin: 32px auto 0;
      max-width: 600px;
      overflow: hidden;
      font-size: 17px;
      line-height: 1.764em;
      color: #383b3d; }
      .chpCon .contentWrap .contentMes p {
        word-break: break-all; }
      .chpCon .contentWrap .contentMes section {
        color: #383b3d;
        font-size: 17px; }
      .chpCon .contentWrap .contentMes img {
        width: 100% !important; }
    .chpCon .contentWrap .contentTitle {
      max-width: 600px;
      margin: 20px auto 0;
      overflow: hidden;
      font-size: 21px;
      line-height: 30px;
      text-align: left;
      color: #7b8f9d; }

.chapterTitle {
  color: #39bcc8; }
  .chapterTitle span {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .chapterTitle i {
    position: relative;
    top: -0.93333rem;
    display: inline-block;
    height: 0.85333rem;
    width: 0.85333rem;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0.10667rem; }

.rightStar {
  position: absolute;
  right: 1.17333rem;
  top: 0; }
  .rightStar i {
    position: relative;
    top: 0.32rem;
    display: inline-block;
    height: 1.06667rem;
    width: 1.06667rem;
    background-repeat: no-repeat;
    background-size: cover; }

.bottomBar {
  width: 100%;
  z-index: 99999;
  background-color: #fff;
  height: 2.82667rem;
  border-top: 1px solid #dbd7d7; }
  .bottomBar ul {
    float: right;
    margin-right: 1.17333rem;
    height: 100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center; }
    .bottomBar ul li {
      float: left;
      margin-left: 1.6rem; }
      .bottomBar ul li i {
        display: inline-block;
        width: 1.17333rem;
        height: 1.17333rem; }
        .bottomBar ul li i.i1 {
          background: url("https://o82zr1kfu.qnssl.com/@/image/57c640a2e4b073472e793137.png") no-repeat;
          background-size: cover; }
        .bottomBar ul li i.i3 {
          background: url("https://o82zr1kfu.qnssl.com/@/image/57c6408ee4b073472e793135.png") no-repeat;
          background-size: cover; }
        .bottomBar ul li i img {
          width: 100%; }
      .bottomBar ul li span {
        display: inline-block;
        position: relative;
        top: -0.4rem;
        left: 0.26667rem;
        color: #383b3d; }

/*# sourceMappingURL=style.css.map */
