@charset "UTF-8";
@import "../../common/__global.scss";
@import "../../common/__util.scss";

.guideImage {

    //@include flexBox();
    //height: 100%;
    //-webkit-box-pack: start;
    //-webkit-justify-content: flex-start;
    //-ms-flex-pack: start;
    //justify-content: start;

    :global {
        .slick-dots {
            display: none !important;
        }
    }

    .enterBtn {
        position: fixed;
        left: 50%;

        @media screen and (max-device-width: 359px) {
            bottom: rem(200) !important;
        }

        @media screen and (min-device-width: 360px) {
            bottom: rem(260) !important;
        }

        transform: translate(-50%, 100%);
        -webkit-transform: translate(-50%, 100%);
        opacity: 1;
        transition: all .5s ease-in;

        div {
            width: rem(400);
            height: rem(240);
            //background: rgba(0, 0, 0, .1);
        }

    }

    img {
        margin: 0 auto;
    }
}

