@charset 'UTF-8';
@import '../../../common/__global.scss';
@import '../../../common/__util.scss';

.projectSign{
	width: 100%;
	background-color: $bg;
	padding: rem(28);
	margin-top: rem(28);
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	.title{
		color: #000;
		font-size: rem(34);
	}
	.salecopyright{
		font-size: rem(24);
		overflow: hidden;
		span{
			display: block;
			float: left;
			color: #666;
			margin-top: rem(30);
		}
		ul{
			float: right;
			width: rem(600);
			li{
				float: right;
				color: $linkColor;
				background-color: #d2f3f3;
				padding: rem(10) rem(30);
				margin-left: rem(20);
				margin-top: rem(20);
				border-radius: rem(40);
			}
		}
	}
	.soldoutcopyright{
		font-size: rem(24);
		overflow: hidden;
		span{
			display: block;
			float: left;
			color: #666;
			margin-top: rem(30);
		}
		ul{
			float: right;
			width: rem(500);
			li{
				float: right;
				color: #666;
				background-color: $topBarBackBtn;
				padding: rem(10) rem(30);
				margin-left: rem(20);
				margin-top: rem(20);
				border-radius: rem(40);
			}
		}
	}
	.salecopyrightstatus{
		background-color: #f2f2f2;
		color: #888;
		font-size: rem(24);
		margin: rem(28) 0;
		.salecopyrightstatusText{
			overflow: hidden;
			padding: rem(28) rem(28) 0 rem(28); 
			span{
				display: block;
				float: left;
				&.salecopyrightstatusTitle{
					font-size: rem(22);
					border: 1px solid #c7c7c7;
					padding: 0 rem(10);
					border-radius: rem(10);
					margin-right: rem(18);
				}
				&.salecopyrightstatusNumber{
					position: relative;
					top: rem(4);
				}
			}

		}
		.salecopyrightstatusText:last-child{
			padding-bottom: rem(28);
		}
		
	}
}




