@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

.banner {
    background-color: $deepBg;
    width: 100%;
    height: rem(300);
    overflow: hidden;

    img {
        width: rem(750);
        height: rem(300);
    }

}

//覆盖antd样式
:global {
    .am-carousel {
        .slick-dots {
            bottom: 0;

            li {
                height: rem(45);
                width: rem(45);
                margin: 0;

                button {
                    height: rem(45);
                    width: rem(45);
                    padding: 0;
                }

                button:before {
                    font-size: 30px;
                    color: #ccc;
                    opacity: .4;
                    position: static;
                }

                &.slick-active button:before {
                    color: #fff !important;
                    opacity: 0.95;
                }
            }
        }

        .slick-slider {
            padding-bottom: 0 !important;
        }
    }
}

