@charset "UTF-8";
@import "../../common/__global.scss";
@import "../../common/__util.scss";

.noticeBarWrap {
    i {
        padding-left: 4px;
        font-size: 12px;
    }
}

.onKeyboardShown {
    position: absolute !important;
    bottom: 0 !important;
}

