@charset "UTF-8";
@import "../../../../common/__global.scss";
@import "../../../../common/__util.scss";

.textWrap {
    padding: rem(50);
}

.textFieldWrap {
    margin-bottom: rem(35);
    background: #fff;

    .textField {
        width: 100%;
        font-size: 15px;
        padding: rem(20);
        height: 10em;
    }
}





