@charset 'UTF-8';
@import '../../../common/__util.scss';
@import '../../../common/__global.scss';

.chapterListLayer{
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	z-index: $zIndexL1;
	background-color: #f4f5f5;
	top: 0;
	-webkit-overflow-scrolling:touch;
	.projectMes{
		margin-left: rem(90);
		padding-right: rem(48);
		margin-top: rem(60);
		border-bottom: 1px solid $weakerTitleColor;
		.projectTitle{
			font-size: 21px;
			color: $titleColor;
			display: block;
			padding-right: rem(80);
		}
		.projectAuthor{
			display: block;
			font-size: 15px;
			color: #a09e98;
			margin: rem(20) 0 rem(60);
		}
	}
	ul{
		margin: rem(50) rem(48) rem(98) rem(90);
		li{
			margin-bottom: rem(66);
			font-size: 17px;
			color: $weakerTitleColor;
			overflow: hidden;
			.chapterLeft{
				display: block;
				float: left;
				width: rem(490);
				text-overflow: ellipsis;
    			overflow: hidden;
    			white-space: nowrap;
			}
			.chapterRight{
				display: block;
				float: right;
				margin-left: rem(50);
			}
		}
	}
	.layerClose{
		position: fixed;
		height: rem(98);
		width: 100%;
		bottom: 0;
		text-align: center;
		line-height: rem(98);
		img{
			width: rem(68);
			height: rem(68);
		}
	}
}

//for iOS
:global ._ios_ {
    :local {
        .projectMes{
            margin-top: rem(104);
        }
    }
}