@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";

.articleListItem3 {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: rem(68) rem(42);
    background: #fff;
    text-align: left;

    .header {
        line-height: rem(60);
        font-size: rem(28);
        padding-bottom: rem(26);

        .author {
            float:left;

            img {
                width: rem(70);
                height: rem(70);
                vertical-align: bottom;
                border-radius: 999px;
            }

            span {
                padding-left: rem(20);
                color: $titleColor;
            }
        }

        .modifyTime {
            float:right;
            color: $weakerTitleColor;
        }
    }

    h3 {
        clear:both;
        max-height: rem(134);
        padding-top:rem(26);
        font-size: rem(40);
        font-weight: normal;
        line-height: rem(54);
        overflow: hidden;
        text-overflow: ellipsis;
        color: $titleColor;
        @include flexBox();
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    div.info {

        margin-top: rem(45);
        color: $weakTextColor;
        font-size: rem(28);
        text-align:center;

        span {
            margin: 0 rem(22);

            i {
                color: $titleColor;
            }
        }
    }

}



