@charset "UTF-8";
@import "../../../common/_global.scss";
@import "../../../common/_util.scss";

.followPageMainContent {
    display: inline-block;
    width: 100%;
    min-height: 100%;
    background: $gapBg;
}

