@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.bar {
    z-index: $zIndexL4;
    box-sizing: border-box;
    width: 100%;
    height: $topBarHeight;
    line-height: $topBarHeight;
    font-size: rem(32);
    background: $topBarBg;
    border-bottom: 1px solid $borderDeepColor;
    z-index: $zIndexL3;
}

.title {
    color: $textColor;
    font-size: rem(32);
    text-align: center;

    i {
        position: relative;
        top: rem(2);
        font-size: rem(32);
        color: $linkColor;
        padding-left: rem(12);
    }
}

