@charset "UTF-8";
@import "../../../common/_global";
@import "../../../common/_util";
@import "../../../common/common.css";

.bar {
    z-index: $zIndexL4;
    box-sizing: border-box;
    width: 100%;
    height: $topBarHeight;
    line-height: $topBarHeight;
    font-size: 16px;
    background: $topBarBg;
    border-bottom: 1px solid $borderDeepColor;
    z-index: $zIndexL3;
}

.title {
    color: $textColor;
    font-size: 16px;
    text-align: center;

    i{
        position: relative;
        top: 2px;
        display: inline-block;
        height: 16px;
        width: 16px;
        margin-left: 6px;
        background-repeat: no-repeat;
        background-size: cover;
    }

}


