@charset "UTF-8";
@import "../../common/__global.scss";
@import "../../common/__util.scss";

.attestState {
	text-align: center;
	.stateImg {
		width: rem(616);
		margin: rem(116) 0 rem(50);
	}
	.failTop {
		margin-top: rem(56)
	}
	.failDiv {
		margin-bottom: rem(60);
		overflow: hidden;
	}
	span {
		display: block;
		&.titleText {
			font-size: rem(48);
			color: #333;
		}
		&.conText {
			font-size: rem(30);
			color: #666;
			margin: rem(44) rem(60) rem(44); 
			line-height: rem(45);
			overflow: hidden;
			.left {
				width: 30%;
				float: left;
				text-align: right;
			}
			.right {
				float: left;
				text-align: left;
				margin-left: rem(20);
			}
		}
		&.btn {
			height: rem(90);
			line-height: rem(90);
			font-size: rem(32);
			color: #000;
			border: 1px solid;
			border-radius: rem(10);
		}
		&.authorBtn {
			width: rem(578);
			height: rem(90);
			line-height: rem(90);
			font-size: rem(36);
			color: #000;
			border: 1px solid;
			border-radius: rem(10);
			margin: 0 auto;
		}
		&.failLeftBtn {
			width: rem(406);
			float: left;
			margin-left: rem(30);
		}
		&.failRightBtn {
			width: rem(256);
			float: right;
			margin-right: rem(30);
		}
		&.passingLeftBtn {
			width: rem(406);
			float: left;
			margin-left: rem(30);
		}
		&.passingRightBtn {
			width: rem(256);
			float: right;
			margin-right: rem(30);
		}
	}

	.backBg{
		position: fixed;
	    left: 0;
	    top: 0;
	    background-color: rgba(0, 0, 0, .5);
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	    .layerCon{
	    	position: absolute;
	    	width: rem(640);
	    	top: 50%;
	    	left: 50%;
	    	background-color: $bg;
	    	margin-left: rem(-320);
	    	margin-top: rem(-140);
	    	text-align: center;
	    	font-size: rem(36);
	    	border-radius: rem(10);
	    	.topText{
				line-height: rem(60);
				padding: rem(20) rem(80);
				color: #2a2b2c;
	            font-size: rem(36);
	    	}
	    	.btnList{
	    		border-top: 1px solid $borderColor;
	    		span{
	    			display: block;
	    			width: 50%;
	    			float: left;
	                line-height: rem(100);
	                font-size: rem(40);
	                color: #0e76f3;
	    			&.btnLeft{
	    				border-right: 1px solid $borderColor;
	    			}
	    		}
	    	}
	    }
	}


}