@charset 'UTF-8';
@import '../../../common/__util.scss';
@import '../../../common/__global.scss';

.projectComment {
    width: 100%;
    background-color: $bg;
    margin-top: rem(28);
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: rem(28) 0 rem(28) rem(28);
    .commentNum {
        width: 100%;
        color: #000;
        font-size: rem(36);
        em{
            position: relative;
            top: rem(-4);
            font-style: inherit;
            font-size: rem(24);
            margin-right: rem(10);
        }
    }



    ul {
        li {
            margin-top: rem(28);
            overflow: hidden;
            .left {
                float: left;
                img{
                    position: relative;
                    top: rem(10);
                    width: rem(70);
                    height: rem(70);
                    border-radius: rem(70);

                }
            }
            .right {
                margin-left: rem(110);
                border-bottom: 1px solid $borderLightColor;
                line-height: rem(44);
                padding-bottom: rem(28);
                font-size: rem(26);
                color: #666;
                padding-right: rem(28);
                padding-top: rem(8);
                .top {
                    .time{
                        float: right;
                        font-size: rem(24);
                        color: #999;
                    }
                }
                .content{
                    color: #333;
                    font-size: rem(34);
                }
            }

        }
        li:last-child {
            .right {
                border-bottom: none;
            }
        }
    }
    .commentBtn {
        display: block;
        width: rem(284);
        height: rem(78);
        text-align: center;
        line-height: rem(78);
        margin: rem(38) auto rem(54);
        border: 1px solid $linkColor;
        border-radius: rem(40);
        font-size: rem(30);

        a {
            color: $linkColor;
        }

    }
}