@charset 'UTF-8';
@import '../../../common/__util.scss';
@import '../../../common/__global.scss';



.topBar{
	//z-index: 0 !important;
	.catalog{
		position: relative;
		top:rem(28);
		display: block;
		width: rem(44);
		height: rem(44);
		background: url("https://o82zr1kfu.qnssl.com/@/image/57b56aeee4b0f816612ea63c.png") no-repeat;
		background-size:cover;
		float:left;
		margin-right:rem(44);
	}
	.share{
		position: relative;
		top:rem(28);
		right: -10px;
		display: block;
		width: rem(44);
		height: rem(44);
		background: url("https://o82zr1kfu.qnssl.com/@/image/57b56aeee4b0f816612ea63c.png") no-repeat;
		background-size:cover;
		float:left;
		background-position: rem(-44) 0px;
	}

}
