@charset "UTF-8";
@import "../../common/__global.scss";
@import "../../common/__util.scss";

.wrap {
    .version {
        text-align: center;
        padding: rem(30) 0;
        color: $weakTextColor;
    }
}

.listWrap {
    padding: rem(10) 0;
}

